footer{
  height: 500px;
  background-image: url(../assets/img/footer-bg.jpg);
  background-size: cover;
}
@import '../assets/style/vars.scss';
.footer-top{
  height: 450px;
}
.list{
  display: flex;
  width: 50%;
  padding: 3rem 1rem;
    a,
  div{
    flex-basis: calc(100% / 3);
    text-transform: capitalize;
  }
  h5{
    text-transform: uppercase;
    font-size: 1.3rem;
    margin-bottom: 0.75rem;
    padding-top: 1rem;
    color: white;
  }
    a{
    display: inline-block;
    text-decoration: none;
    font-size: 0.85rem;
    margin-bottom: 0.2rem;
    color: rgb(135, 135, 135);
  }
}
.footert-logo{
  width: 50%;
  display: flex;
  background-image: url(../assets/img/dc-logo-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.footer-bottom{
  padding: 50px 0;
  height: 70px;
  display: flex;
  align-items: center;
  background-color: rgb(48, 48, 48);
}
.footer-button{
  width: 50%;
  button{
    background-color: rgb(48, 48, 48);
    border: 3px solid $blue-dc;
    padding: 15px;
          a{
        color: white;
        text-transform: uppercase;
        font-weight: bold;
        }
    }
}
.socials{
  width: 50%;
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  ul{
    list-style: none;
    li{
      padding: 5px;
      display: inline;
    }
  }
}
.socials h5{
  padding-right: 15px;
  font-size: 1rem;
  text-transform: uppercase;
  color: $blue-dc;
}