footer{
    .commercial{
        padding: 50px 1rem;
        background-color: $brand-blue;
        .wrap{
            justify-content: space-around;
            div{
                padding-right: 1rem;
                transition: transform 0.4s;
                &:hover{
                    transform: scale(1.1);
                }
                &:last-child img{
                    width: 60px;
                }
                a{
                color: #fff;
                display: flex;
                align-items: center;
                  img{
                      height: 60px;
                      margin-right: 1rem;
                  }
                }
            }
        }
    }
    .footer-top{
        height: 370px;
        background-image: url('../img/footer-bg.jpg');
        background-size: cover;
        overflow: hidden;
        .wrap{
            height: 100%;
            background-image: url('../img/dc-logo-bg.png');
            background-repeat: no-repeat;
            background-position: right;
            .menu-footer{
                display: flex;
                div{
                    padding-right: 2rem;
                }
                }
                h3{
                color:#fff;
                margin: 1rem 0;
                }
                a{
                display: inline-block;
                color: rgba(#fff, .4);
                font-size: 13px;
                margin-bottom: 0.50rem;
                &:hover{
                    color: #fff;
                 }
                }
        }
    }
    .footer-bot{
        padding: 30px 0;
        background-color: #303030;
        button{
            background: none;
            padding: 0.75rem;
            border: 2px solid $brand-blue;
            color: #fff;
            font-size: 15px;
            font-weight: 600;
            font-family: 'Roboto', sans-serif;
            cursor: pointer;
            &:hover{
                background-color: rgba(#fff, 0.2);
            }
            
        }
        div{
            display: flex;
            align-items: center;
            h2{
                color: $brand-blue;
            }
            img{
                margin-left: 1rem;
            }
        }
    }
}