header{
    .wrap{
    
        img{
            height: 80px;
        }
        ul{
            display: flex;
            li{
                a{
                    display: inline-block;
                    margin-left: 2rem;
                    padding: 35px 0;
                    color: #4B4D50;
                    font-size: 12px;
                    font-weight: 600;
                    &:hover,
                    &.active{
                        border-bottom: 4px solid $brand-blue;
                        color: $brand-blue;
                    } 
                }
            }
        }
    }
    ._jumbotron{
        background-image: url('../img/jumbotron.jpg');
        height: 400px;
        background-repeat: no-repeat;
        background-size: cover;
    }
}